.pdf-link {
    background: url(../img/icons/pdf.svg) no-repeat 0 0;
    background-size: 2em;
    display: inline-block;
    line-height: 1.4;
    min-height: 2em;
    padding-left: 2.5em;
    padding-top: 0.4em;
}

.open-link {
    background: url(../img/icons/link-icon.png) no-repeat 6px 1px;
    background-size: 16px;
    display: inline-block;
    line-height: 1.4;
    min-height: 2em;
    padding-left: 2.5em;
}