/*
================================================================================
Tag
================================================================================
*/

.tag {
    border-radius: $radius;
    font-size: rem(10);
    padding: 0.4em 0.8em;

    &--info {
        background-color: $color-info-light;
        color: $color-info-text;
    }

    &--danger {
        background-color: $color-danger-light;
        color: $color-danger-text;
    }

    &--success {
        background-color: $color-success-light;
        color: $color-success-text;
    }

    &--warning {
        background-color: $color-warning-light;
        color: $color-warning-text;
    }
}
